<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyServlet25</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserCtrl</display-name>
    <servlet-name>UserCtrl</servlet-name>
    <servlet-class>com.ich.ctrl.UserCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCtrl</servlet-name>
    <url-pattern>/UserCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleCtrl</display-name>
    <servlet-name>ArticleCtrl</servlet-name>
    <servlet-class>com.ich.ctrl.ArticleCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCtrl</servlet-name>
    <url-pattern>/ArticleCtrl</url-pattern>
  </servlet-mapping>
</web-app>